<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/general.css">
</head>
<body class="ind">
    <form class="index-form" action="/search" method="post">
        <h1>Twitter scrapper</h1>
        <label for="id">Enter post ID:</label>
        <input type="text" name="id" class="input-field" required>
        <% if (error === 1){ %>
            <p class="err"><%= errmsg %></p>
        <% } %> 
        <button type="submit">Search</button>
    </form>
</body>
</html>